.mat-toolbar {
    padding-right:3px; 
    padding-top: 6px; 
    display:inline-block;
    margin-bottom: 10px;
}

#toolbarcolor {
    background-color:#B19DD7;
}

#birdlogo {
    height: 45px;
    width: 50px;
}

.example-icon {
    padding: 0 14px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

  #titlecolor {
      color: white;
  }