#profile-card {
    height: 208px;
    background-color: #fcf4ff;
    float: right;
    width: 60%; 
}

.handle {
    color: grey;
    font-size: 18px;
}

.profileimg {
    border: 3px solid white;
    border-radius: 7px;
    width: 72px;
    height: 72px;
  }